@font-face {
    font-family: Gen Jyuu Gothic;
    src: url(font/GenJyuuGothic-Bold.ttf);
    src: url(font/GenJyuuGothic-ExtraLight.ttf);
    src: url(font/GenJyuuGothic-Heavy.ttf);
    src: url(font/GenJyuuGothic-Light.ttf);
    src: url(font/GenJyuuGothic-Medium.ttf);
    src: url(font/GenJyuuGothic-Regular.ttf);
}

body {
    font-family: Gen Jyuu Gothic;
    width: 100%;
}

/* ---------- header ---------- */

.wrap-header {
    background-color: #F2F2EA;
    position: relative;
}

header {
    width: 1260px;
    margin: auto;
    display: flex;
    position: relative;
}

header .logo {
    width: 160px;
    padding: 20px 70px;
}

header .logo img {
    width: 100%;
}

nav {
    width: 660px;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    color: #444;
    font-size: 16px;
    text-decoration: none;
    width: 125px;
    box-sizing: border-box;
    text-align: center;
    transition: .3s;
}

nav a:hover {
    color: #D28164;
}

.function {
    height: 140px;
    display: flex;
    align-items: center;
    position: absolute;
    right: 90px;
}

.function a {
    color: #444;
    font-size: 23px;
    padding: 0 15px;
    transition: .3s;
}

.function a:hover {
    color: #D28164;
}


.header-wavy {
    width: 100%;
    height: 116px;
    margin-top: -60px;
    vertical-align: top;
}

/* ---------- main ---------- */
.wrap-main {
    background-color: #EFEDE1;
}

.main {
    width: 1260px;
    margin: auto;
    position: relative;
}

.subnav {
    color: #444;
    font-size: 14px;
    letter-spacing: 0.5px;
    padding: 30px 100px 50px;
}

.main-pattern img:nth-child(1) {
    position: absolute;
    width: 55px;
    top: 80px;
    right: 460px;
}

.main-pattern img:nth-child(2) {
    position: absolute;
    top: 165px;
    right: 155px;
}

.main-pattern img:nth-child(3) {
    position: absolute;
    top: -30px;
    right: 40px;
}

.information {
    display: flex;
    justify-content: center;
}

.sub-pic {
    display: flex;
    justify-content: space-around;
}

.information .txt {
    margin-left: 120px;
}

h1 {
    color: #444;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.32px;
    padding: 25px 0;
}

h1 span {
    -webkit-text-stroke: .4px #444;
}

.desc {
    color: #444;
    font-size: 16px;
    font-weight: 350;
    letter-spacing: 1.6px;
    padding: 10px 0;
    position: relative;
    z-index: 1;
}

.spec {
    color: #D28164;
    font-size: 14px;
    letter-spacing: .4px;
    padding: 10px 0;
}

.price {
    color: #444;
    font-size: 24px;
    padding: 25px 0;
}

.taste,
.count {
    width: 235px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #F9FAF5;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    margin: 20px 0;
}

.count p {
    color: #444;
    font-size: 16px;
    padding: 0 70px;
}

.taste p {
    color: #444;
    font-size: 16px;
    padding: 0 70px 0 80px;
}

.taste img {
    width: 9px;
}

.count img {
    width: 10px;
}

.shop {
    width: 285px;
    height: 50px;
    border-radius: 10px;
    background: #F59C7C;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
    margin: 50px 0;
}

.shop p {
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
}

.description {
    width: 1110px;
    height: 560px;
    margin: 30px auto;
    background: #F9FAF5;
    border-radius: 27px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.description .txt {
    margin-right: 50px;
}

.description .txt p {
    color: #444;
    font-size: 16px;
    font-weight: 350;
    line-height: 25px;
    letter-spacing: 1.6px;
    padding: 15px 0;
}

.description .txt span {
    font-weight: 500;
}

.description .txt p:nth-child(1) {
    padding-bottom: 30px;
}

.description img {
    width: 340px;
}

.main-wavy {
    width: 100%;
    height: 130px;
    vertical-align: top;
}

/* ---------- footer ---------- */

.warp-footer {
    background-color: #F2F2EA;
    margin-top: -1px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .logo {
    width: 145px;
    padding: 25px 60px;
}

footer .logo img {
    width: 100%;
}

.item {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.item li {
    color: #444444;
    font-size: 14px;
    padding: 10px 0;
}

.list {
    display: flex;
    padding: 0 60px;
}

.list-product {
    padding-right: 80px;
}

footer .item a {
    color: #444;
    text-decoration: none;
    transition: .3s;
}

footer .item a:hover {
    color: #D28164;
}

.company {
    padding: 0 60px;
}

.company li span {
    position: relative;
    bottom: 4px;
}

.focus {
    padding: 0 60px;
}


.focus .fa-solid,
.focus .fa-brands,
.company .fa-solid {
    color: #444444;
    font-size: 22px;
    padding-right: 10px;
    transition: .3s;
}

.focus .fa-solid:hover,
.focus .fa-brands:hover {
    color: #D28164;
}

.copyright {
    color: #444444;
    font-size: 13px;
    height: 60px;
    background-color: #CCCCC4;
    display: flex;
    justify-content: center;
    align-items: center;
}