
@font-face {
    font-family: GenJyuuGothic;
    src: url(font/GenJyuuGothic-Normal.ttf)
}

@font-face {
    font-family: GenJyuuGothicMedium;
    src: url(font/GenJyuuGothic-Medium.ttf)
}

body {
    font-family: GenJyuuGothic;
    width: 100%;
    overflow-x: hidden;
}

.mouse {
    width: 80px;
    position: absolute;
    z-index: 5;
    display: none;
}

.top {
    width: 40px;
    position: fixed;
    z-index: 4;
    bottom: 25px;
    right: 30px;
}

@keyframes flower1 {
    0% {
        opacity: 0;
        transform: rotate(-680deg);
    }

    100% {

        transform: rotate(0deg);
    }
}

@keyframes flower2 {
    0% {
        opacity: 0;
        transform: rotate(620deg);
    }

    100% {
        opacity: 1;
        transform: rotate(0deg);
    }
}


/* ---------- RWD ---------- */
@media screen and (max-width:1260px) {

    /* ---------- header ---------- */

    .wrap-header {
        background-color: #F2F2EA;
        position: relative;
    }

    header {
        display: flex;
        justify-content: space-between;
    }

    header .logo {
        width: 25%;
        padding-top: 20px;
        padding-left: 6%;
        max-width: 160px;
        position: relative;
        z-index: 1;
    }

    header .logo img {
        width: 100%;
    }

    #sidebar {
        display: none;
    }

    .sidebar-tag {
        display: block;
        position: relative;
        width: 10vw;
        height: 10vw;
        max-width: 60px;
        max-height: 60px;
        margin: 6% 5%;
        background-color: #F9FAF5;
        border: 5px solid #EAE8DB;
        border-radius: 15px;
    }

    .sidebar-tag span {
        width: 60%;
        height: 8%;
        background-color: #F4D5C0;
        border-radius: 4px;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .sidebar-tag span:nth-child(1) {
        translate: 0 260%;
        rotate: 0deg;
        transition: translate .4s .4s,
            rotate .4s;
    }

    .sidebar-tag span:nth-child(2) {
        opacity: 1;
        transition: opacity .8s;
    }

    .sidebar-tag span:nth-child(3) {
        translate: 0 -260%;
        rotate: 0deg;
        transition: translate .4s .4s,
            rotate .4s;
    }

    #sidebar:checked~.sidebar-tag span:nth-child(1) {
        translate: 0 0%;
        rotate: 45deg;
        transition: translate .4s linear,
            rotate .4s .4s linear;
    }

    #sidebar:checked~.sidebar-tag span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s .4s;
    }

    #sidebar:checked~.sidebar-tag span:nth-child(3) {
        translate: 0 0%;
        rotate: -45deg;
        transition: translate .4s linear,
            rotate .4s .4s linear;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 200px;
        padding: 20px 20px 22px;
        background-color: #F9FAF5;
        border: 5px solid #EAE8DB;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: absolute;
        z-index: 2;
        top: 70%;
        right: 0%;
        translate: -2000px 0%;
        opacity: 0;
        transition: translate 1.5s .3s cubic-bezier(.6, 0, 1, -0.6), opacity .6s .3s;
    }

    #sidebar:checked~nav {
        translate: 0px 0%;
        opacity: .95;
        transition: translate 1.2s cubic-bezier(0, 1.8, 0, 1), opacity 1.5s .5s;
    }

    nav a {
        color: #444444;
        font-size: 16px;
        text-decoration: none;
        margin: auto;
        padding: 10px;
        border-bottom: 2px solid #f3f2ec;
    }

    .header-pattern {
        display: none;
    }

    .header-wavy {
        width: 100%;
        height: 70px;
        margin-top: -60px;
        vertical-align: bottom;
    }

    h1 {
        font-family: GenJyuuGothicMedium;
        color: #444444;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 110%;
        right: 0;
        left: 0;
    }

    .h1-pattern {
        position: relative;
        margin: auto;
        width: 300px;
    }

    .h1-pattern img:nth-child(1) {
        position: absolute;
        width: 55px;
        top: 5px;
        left: 40px;
        transform: rotate(0deg);
        animation: flower1 5s;
    }

    .h1-pattern img:nth-child(2) {
        width: 65px;

        position: absolute;
        top: -5px;
        right: 5px;
        transform: rotate(0deg);
        animation: flower2 4.5s;
    }

    /* ---------- main ---------- */



    
    /* ---------- footer ---------- */

        .warp-footer {
            background-color: #F2F2EA;
            margin-top: -1px;
        }

        footer {
            display: flex;
            justify-content: center;
            margin: auto;
            padding: 20px 0;
        }

        footer .logo {
            display: none;
        }

        footer .item {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 850px;
        }

        footer .item ul {
            padding: 5px;
        }

        footer .item li {
            color: #444444;
            font-size: 14px;
            padding: 10px 0;
        }

        footer .item .list {
            display: flex;
            justify-content: space-evenly;
            width: 300px;
            margin: auto;
        }

        footer .item a {
            color: #444;
            text-decoration: none;
            transition: .3s;
        }

        footer .item a:hover {
            color: #D28164;
        }

        .company {
            width: 300px;
            margin: auto;
            text-align: center;
        }

        .company li span {
            position: relative;
            bottom: 4px;
        }

        .email {
            margin-top: -5px;
        }

        .focus {
            margin: -5px auto 0;
            width: 200px;
            text-align: center;
        }

        .focus .fa-solid,
        .focus .fa-brands,
        .company .fa-solid {
            color: #444444;
            font-size: 22px;
            padding: 3px 5px 3px 0;
            transition: .3s;
        }

        .fa-blogger-b {
            margin-left: 5px;
        }

        .focus .fa-solid:hover,
        .focus .fa-brands:hover {
            color: #D28164;
        }

        .copyright {
            color: #444444;
            font-size: 13px;
            height: 70px;
            background-color: #CCCCC4;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 8%;
            line-height: 18px;
        }
    }

    /* ---------- web ---------- */
@media screen and (min-width:1260px) {

    /* ---------- header ---------- */

    .wrap-header {
        background-color: #F2F2EA;
        position: relative;
    }

    header {
        width: 1260px;
        margin: auto;
        display: flex;
    }

    header .logo {
        width: 160px;
        padding: 20px 70px;
    }

    header .logo img {
        width: 100%;
    }

    header input,
    header label {
        display: none;
    }

    nav {
        width: 660px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {
        color: #444444;
        font-size: 16px;
        text-decoration: none;
        width: 125px;
        box-sizing: border-box;
        text-align: center;
        transition: .3s;
    }

    nav a:hover {
        color: #D28164;
    }

    .header-pattern {
        height: 180px;
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        padding: 0 50px;
    }

    .header-wavy {
        width: 100%;
        height: 180px;
        margin-top: -60px;
        vertical-align: top;
    }

    h1 {
        font-family: GenJyuuGothicMedium;
        color: #444444;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-align: center;
        position: absolute;
        z-index: 1;
        bottom: 65px;
        left: 0;
        right: 0;
    }

    .h1-pattern {
        position: relative;
        width: 1260px;
        margin: auto;
    }

    .h1-pattern img {
        position: absolute;
    }

    .h1-pattern img:nth-child(1) {
        width: 55px;
        left: 520px;
        bottom: 50px;
        opacity: 1;
        transform: rotate(0deg);
        animation: flower1 1.5s;
    }

    .h1-pattern img:nth-child(2) {
        right: 475px;
        bottom: 45px;
        opacity: 1;
        transform: rotate(0deg);
        animation: flower2 2s;
    }

    /* ---------- main ---------- */

    


    /* ---------- footer ---------- */

    .warp-footer {
        background-color: #F2F2EA;
        margin-top: -1px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .logo {
        width: 145px;
        padding: 25px 60px;
    }

    footer .logo img {
        width: 100%;
    }

    footer .item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    footer .item li {
        color: #444444;
        font-size: 14px;
        padding: 10px 0;
    }

    footer .item .list {
        display: flex;
        padding: 0 60px;
    }

    footer .item .list-product {
        padding-right: 80px;
    }

    footer .item a {
        color: #444;
        text-decoration: none;
        transition: .3s;
    }

    footer .item a:hover {
        color: #D28164;
    }

    .company {
        padding: 0 60px;
    }

    .company li span {
        position: relative;
        bottom: 4px;
    }

    .focus {
        padding: 0 60px;
    }

    .focus .fa-solid,
    .focus .fa-brands,
    .company .fa-solid {
        color: #444444;
        font-size: 22px;
        padding-right: 10px;
        transition: .3s;
    }

    .focus .fa-solid:hover,
    .focus .fa-brands:hover {
        color: #D28164;
    }

    .copyright {
        color: #444444;
        font-size: 13px;
        height: 60px;
        background-color: #CCCCC4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}