@font-face {
    font-family: Gen Jyuu Gothic;
    src: url(font/GenJyuuGothic-Bold.ttf);
    src: url(font/GenJyuuGothic-ExtraLight.ttf);
    src: url(font/GenJyuuGothic-Heavy.ttf);
    src: url(font/GenJyuuGothic-Light.ttf);
    src: url(font/GenJyuuGothic-Medium.ttf);
    src: url(font/GenJyuuGothic-Regular.ttf);
    src: url(GenJyuuGothic-Normal.ttf);
}

body {
    font-family: Gen Jyuu Gothic;
    width: 100%;
}

.wrap-header {
    background-color: #F2F2EA;
}


@media screen and (max-width:768px) {

    /* ---------- header ---------- */

    .wrap-header {
        position: relative;
    }

    header .logo {
        width: 20%;
        padding: 3%;
    }

    header .logo img {
        width: 100%;
    }

    nav {
        display: flex;
        flex-direction: column;
        display: none;
    }

    nav a {
        color: #444444;
        font-size: 16px;
        text-decoration: none;
    }

    .header-pattern {
        display: none;
    }

    .header-wavy {
        width: 100%;
        vertical-align: top;
        margin: 30px 0 0;
    }

    h1 {
        color: #444444;
        font-size: 30px;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-align: center;
        position: absolute;
        z-index: 1;
        top: 100px;
        right: 0;
        left: 0;
    }

    .h1-pattern {
        /* position: relative; */
        margin: auto;
    }

    .h1-pattern img {
        position: absolute;
    }

    .h1-pattern img:nth-child(1) {
        width: 55px;
        top: 100px;
        left: 30%;
    }

    .h1-pattern img:nth-child(2) {
        top: 80px;
        right: 20%;
    }

    /* ---------- main ---------- */

    .wrap-main {
        background-color: #EFEDE1;
    }

    .main {
        position: relative;
    }

    .card {
        position: relative;
    }

    .card:nth-child(2),
    .card:nth-child(3),
    .card:nth-child(4) {
        margin-top: 60px;
    }

    .card-block {
        background-color: #F9FAF5;
        width: 90%;
        height: 90%;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    .button {
        display: flex;
        width: 135px;
        position: absolute;
        bottom: 30px;
        right: 25px;
        z-index: 1;
        text-decoration: none;
    }

    .button img {
        padding: 0 10px;

    }

    .active {
        position: absolute;
        opacity: 0;
        transition: .3s;
    }

    .button:hover .active {
        opacity: 1;
    }

    .button p {
        color: #444444;
        font-size: 16px;
        font-weight: 500;
        margin: auto 0;
        z-index: 1;

    }

    .decorate_button {
        position: absolute;
        right: 0;
        top: 4px;
    }

    .card .pic {
        position: relative;
        width: 80%;
        margin: auto;
    }

    .card .pic img:nth-child(1) {
        width: 100%;
    }

    .cake-pattern {
        position: absolute;
        right: 20px;
        top: 20px;
    }


    .card .txt {
        width: 80%;
        padding: 10px 0 60px;
        position: relative;
        margin: auto;
    }

    .date {
        color: #D28164;
        font-size: 14px;
        padding-bottom: 5px;
        text-align: center;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        padding: 5px 0 15px;
        text-align: center;
    }

    h2 a {
        color: #444444;
        text-decoration: none;
    }

    .content {
        color: #444444;
        font-size: 16px;
        padding: 0 15px;
        letter-spacing: 1.6px;
        line-height: 25px;
    }

    .content p {
        padding: 5px 0;
    }

    .page {
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0 40px;
        position: relative;
        margin: auto;
    }

    .page a:nth-child(1),
    .page a:nth-child(5) {
        margin: 0 40px;
    }

    .page .left {
        transform: rotate(180deg);
    }

    .page .active-left {
        left: 0;
    }

    .page .active:hover {
        opacity: 1;
    }

    .number {
        margin: 0 20px;
        color: #444444;
        font-size: 14px;
        text-decoration: none;
    }

    .number:nth-child(2) {
        color: #D28164;
        font-size: 18px;
    }

    .main-wavy {
        width: 100%;
        vertical-align: top;
    }

    .main-pattern {
        display: none;
    }

    /* ---------- footer ---------- */

    .warp-footer {
        background-color: #F2F2EA;
        margin-top: -1px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .logo {
        display: none;
    }

    footer .item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    footer .item li {
        color: #444444;
        font-size: 14px;
        padding: 10px 0;
    }

    footer .item .list {
        display: flex;
        padding: 0 60px;
    }

    footer .item .list-product {
        padding-right: 80px;
    }

    footer .item a {
        color: #444;
        text-decoration: none;
        transition: .3s;
    }

    footer .item a:hover {
        color: #D28164;
    }

    .company {
        padding: 0 60px;
    }

    .company li span {
        position: relative;
        bottom: 4px;
    }

    .focus {
        padding: 0 60px;
    }

    .focus .fa-solid,
    .focus .fa-brands,
    .company .fa-solid {
        color: #444444;
        font-size: 22px;
        padding-right: 10px;
        transition: .3s;
    }

    .focus .fa-solid:hover,
    .focus .fa-brands:hover {
        color: #D28164;
    }

    .copyright {
        color: #444444;
        font-size: 13px;
        height: 60px;
        background-color: #CCCCC4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width:1260px) {

    /* ---------- header ---------- */

    .wrap-header {
        position: relative;
    }

    header {
        width: 1260px;
        margin: auto;
        display: flex;
    }

    header .logo {
        width: 160px;
        padding: 20px 70px;
    }

    header .logo img {
        width: 100%;
    }

    nav {
        width: 660px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {
        color: #444444;
        font-size: 16px;
        text-decoration: none;
        width: 125px;
        box-sizing: border-box;
        text-align: center;
        transition: .3s;
    }

    nav a:hover {
        color: #D28164;
    }

    .header-pattern {
        height: 180px;
        display: flex;
        align-items: flex-end;
        margin-left: auto;
        padding: 0 50px;
    }

    .header-wavy {
        width: 100%;
        height: 180px;
        margin-top: -60px;
        vertical-align: top;
    }

    h1 {
        color: #444444;
        font-size: 34px;
        font-weight: 500;
        letter-spacing: 0.3px;
        text-align: center;
        position: absolute;
        z-index: 1;
        bottom: 65px;
        left: 0;
        right: 0;
    }

    .h1-pattern {
        position: relative;
        width: 1260px;
        margin: auto;
    }

    .h1-pattern img {
        position: absolute;
    }

    .h1-pattern img:nth-child(1) {
        width: 55px;
        left: 520px;
        bottom: 50px;
    }

    .h1-pattern img:nth-child(2) {
        right: 475px;
        bottom: 45px;
    }

    /* ---------- main ---------- */

    .wrap-main {
        background-color: #EFEDE1;
        padding-top: 10px;

    }

    .main {
        width: 1260px;
        margin: auto;
        position: relative;
    }

    .card {
        display: flex;
        justify-content: center;
        height: 375px;
        position: relative;
    }

    .card:nth-child(2),
    .card:nth-child(3),
    .card:nth-child(4) {
        margin-top: 90px;
    }

    .card-block {
        background-color: #F9FAF5;
        width: 1065px;
        height: 295px;
        border-radius: 50px;
        position: absolute;
        bottom: 0;
    }

    .button {
        display: flex;
        width: 135px;
        position: absolute;
        bottom: 30px;
        right: 25px;
        z-index: 1;
        text-decoration: none;
    }

    .button img {
        padding: 0 10px;

    }

    .active {
        position: absolute;
        opacity: 0;
        transition: .3s;
    }

    .button:hover .active {
        opacity: 1;
    }

    .button p {
        color: #444444;
        font-size: 16px;
        font-weight: 500;
        margin: auto 0;
        z-index: 1;

    }

    .decorate_button {
        position: absolute;
        right: 0;
        top: 4px;
    }

    .card .pic {
        position: relative;
        padding-left: 20px;
    }

    .cake-pattern {
        position: absolute;
        right: 20px;
        top: 20px;
    }


    .card .txt {
        width: 540px;
        padding: 0 50px 0 25px;
        position: relative;
    }

    .date {
        color: #D28164;
        font-size: 14px;
        padding: 12px 14px 10px;
    }

    h2 {
        font-size: 20px;
        font-weight: 500;
        padding: 5px 0 30px;

    }

    h2 a {
        color: #444444;
        text-decoration: none;
    }

    .content {
        color: #444444;
        font-size: 16px;
        padding: 0 12px;
        letter-spacing: 1.6px;
        line-height: 25px;
    }

    .content p {
        padding: 12px 0;
    }

    .page {
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 70px 0 40px;
        position: relative;
        margin: auto;
    }

    .page a:nth-child(1),
    .page a:nth-child(5) {
        margin: 0 40px;
    }

    .page .left {
        transform: rotate(180deg);
    }

    .page .active-left {
        left: 0;
    }

    .page .active:hover {
        opacity: 1;
    }

    .number {
        margin: 0 20px;
        color: #444444;
        font-size: 14px;
        text-decoration: none;
    }

    .number:nth-child(2) {
        color: #D28164;
        font-size: 18px;
    }

    .main-wavy {
        width: 100%;
        height: 130px;
        vertical-align: top;
    }

    .main-pattern {
        position: absolute;
        right: 70px;
        bottom: -50px;
    }

    /* ---------- footer ---------- */

    .warp-footer {
        background-color: #F2F2EA;
        margin-top: -1px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .logo {
        width: 145px;
        padding: 25px 60px;
    }

    footer .logo img {
        width: 100%;
    }

    footer .item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    footer .item li {
        color: #444444;
        font-size: 14px;
        padding: 10px 0;
    }

    footer .item .list {
        display: flex;
        padding: 0 60px;
    }

    footer .item .list-product {
        padding-right: 80px;
    }

    footer .item a {
        color: #444;
        text-decoration: none;
        transition: .3s;
    }

    footer .item a:hover {
        color: #D28164;
    }

    .company {
        padding: 0 60px;
    }

    .company li span {
        position: relative;
        bottom: 4px;
    }

    .focus {
        padding: 0 60px;
    }

    .focus .fa-solid,
    .focus .fa-brands,
    .company .fa-solid {
        color: #444444;
        font-size: 22px;
        padding-right: 10px;
        transition: .3s;
    }

    .focus .fa-solid:hover,
    .focus .fa-brands:hover {
        color: #D28164;
    }

    .copyright {
        color: #444444;
        font-size: 13px;
        height: 60px;
        background-color: #CCCCC4;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}