@font-face {
    font-family: GenJyuuGothic;
    src: url(font/GenJyuuGothic-Normal.ttf)
}

@font-face {
    font-family: GenJyuuGothicMedium;
    src: url(font/GenJyuuGothic-Medium.ttf)
}

body {
    font-family: GenJyuuGothic;
    width: 100%;
    overflow-x: hidden;
}

.mouse {
    width: 80px;
    position: absolute;
    z-index: 5;
    display: none;
}

.top {
    width: 40px;
    position: fixed;
    z-index: 4;
    bottom: 25px;
    right: 30px;
}

/* ---------- RWD ---------- */
@media screen and (max-width:1260px) {

    /* ---------- header ---------- */

    .wrap-header {
        background-color: #F2F2EA;
        position: relative;
    }

    header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    header .logo {
        width: 25%;
        padding-top: 20px;
        padding-left: 6%;
        max-width: 160px;
        position: relative;
        z-index: 1;
    }

    header .logo img {
        width: 100%;
    }

    #sidebar {
        display: none;
    }

    .sidebar-tag {
        display: block;
        position: relative;
        width: 10vw;
        height: 10vw;
        max-width: 60px;
        max-height: 60px;
        margin: 6% 5%;
        background-color: #F9FAF5;
        border: 5px solid #EAE8DB;
        border-radius: 15px;
    }

    .sidebar-tag span {
        width: 60%;
        height: 8%;
        background-color: #F4D5C0;
        border-radius: 4px;
        position: absolute;
        inset: 0;
        margin: auto;
    }

    .sidebar-tag span:nth-child(1) {
        translate: 0 260%;
        rotate: 0deg;
        transition: translate .4s .4s,
            rotate .4s;
    }

    .sidebar-tag span:nth-child(2) {
        opacity: 1;
        transition: opacity .8s;
    }

    .sidebar-tag span:nth-child(3) {
        translate: 0 -260%;
        rotate: 0deg;
        transition: translate .4s .4s,
            rotate .4s;
    }

    #sidebar:checked~.sidebar-tag span:nth-child(1) {
        translate: 0 0%;
        rotate: 45deg;
        transition: translate .4s linear,
            rotate .4s .4s linear;
    }

    #sidebar:checked~.sidebar-tag span:nth-child(2) {
        opacity: 0;
        transition: opacity 0s .4s;
    }

    #sidebar:checked~.sidebar-tag span:nth-child(3) {
        translate: 0 0%;
        rotate: -45deg;
        transition: translate .4s linear,
            rotate .4s .4s linear;
    }

    nav {
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 200px;
        padding: 20px 20px 22px;
        background-color: #F9FAF5;
        border: 5px solid #EAE8DB;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        position: absolute;
        z-index: 2;
        top: 70%;
        right: 0%;
        translate: -2000px 0%;
        opacity: 0;
        transition: translate 1.5s .3s cubic-bezier(.6, 0, 1, -0.6), opacity .6s .3s;
    }

    #sidebar:checked~nav {
        translate: 0px 0%;
        opacity: .95;
        transition: translate 1.2s cubic-bezier(0, 1.8, 0, 1), opacity 1.5s .5s;
    }

    nav a {
        color: #444444;
        font-size: 16px;
        text-decoration: none;
        margin: auto;
        padding: 10px;
        border-bottom: 2px solid #f3f2ec;
    }

    .function>input {
        display: none;
    }

    .function {
        display: flex;
        align-items: center;
        position: absolute;
        right: 12%;
        top: 15px;
        margin: 6% 5%;
    }

    .function label i {
        color: #444;
        font-size: 23px;
        margin-right: 20px;
        transition: .3s;
    }

    .function i:hover {
        color: #D28164;
    }

    .glass {
        width: 200px;
        display: flex;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 150%;
        margin: 6% 5%;
        translate: -2000px 0%;
        opacity: 0;
        transition: translate 1.5s .3s cubic-bezier(.6, 0, 1, -0.6), opacity .6s .3s;
    }

    #glass:checked~.glass {
        translate: 0px 0%;
        opacity: .95;
        transition: translate 1.2s cubic-bezier(0, 1.8, 0, 1), opacity 1.5s .5s;
    }

    .glass form {
        width: 100%;
    }

    .glass form input {
        font-family: Gen Jyuu Gothic;
        width: 100%;
        height: 40px;
        border-radius: 50px;
        border: none;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
        font-size: 14px;
        box-sizing: border-box;
        outline: none;
        padding: 0 25px;
    }

    .glass button {
        border: 0;
        background-color: transparent;
        position: absolute;
        top: 9px;
        right: 15px;
    }

    .glass button i {
        color: #444;
        font-size: 19px;
        transition: .3s;
    }

    .glass button:hover i {
        color: #D28164;
    }

    /* shopping未完成 */
    .shopping {
        position: absolute;
        width: 250px;
        height: 300px;
        padding: 20px 20px 22px;
        background-color: #F9FAF5;
        border: 5px solid #EAE8DB;
        border-radius: 20px;
        top: 170%;
        right: 0;
        z-index: 10;
        display: none;
    }

    .shopping div p {
        font-size: 16px;
        padding-bottom: 10px;
        border-bottom: 2px solid #f3f2ec;
    }

    .shopping div span {
        width: 10px;
        height: 5px;
        border-radius: 2px;
        background-color: #444;
    }

    .header-wavy {
        width: 100%;
        margin-top: -60px;
        vertical-align: bottom;
    }

    /* ---------- main ---------- */

    .wrap-main {
        background-color: #EFEDE1;
    }

    .main {
        margin: auto;
        position: relative;
    }

    .subnav {
        padding: 30px 5% 40px;
    }

    .subnav a {
        color: #444;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }

    .subnav p {
        display: inline-block;
        color: #444;
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    .subnav a:nth-child(1):after,
    .subnav a:nth-child(2):after {
        content: "　/　";
    }

    .main-pattern img:nth-child(1),
    .main-pattern img:nth-child(2),
    .main-pattern img:nth-child(3) {
        display: none;
    }

    .information {
        width: 100%;
    }

    .information .pic {
        width: 90%;
        max-width: 521px;
        margin: auto;
    }

    .main-pic img {
        width: 100%;
    }

    .sub-pic {
        display: flex;
        justify-content: space-around;
        width: 100%;
        margin: 10px auto;
    }

    .sub-pic img {
        width: 22%;
    }

    .information .txt {
        text-align: center;
    }

    h1 {
        color: #444;
        font-size: 32px;
        letter-spacing: 0.32px;
        margin: 40px 0 25px;
    }

    h1 span {
        -webkit-text-stroke: .4px #444;
    }

    .desc {
        color: #444;
        font-size: 16px;
        font-weight: 350;
        letter-spacing: 1.6px;
        position: relative;
        z-index: 1;
    }

    .spec {
        color: #D28164;
        font-size: 14px;
        letter-spacing: .4px;
        margin: 15px 0;
    }

    .price {
        color: #444;
        font-size: 24px;
        margin: 25px 0 30px;
    }

    .information>.txt>div {
        display: flex;
        width: 90%;
        max-width: 520px;
        margin: auto;
    }

    .taste,
    .count {
        width: 40%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #F9FAF5;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
        margin: 15px auto;
    }

    .count input {
        border: none;
        background-color: transparent;
        width: 30%;
        text-align: center;
    }

    #consult {
        font-family: GenJyuuGothic;
        color: #444;
        font-size: 16px;
        border: none;
        text-align: center;
    }


    .shop {
        width: 235px;
        height: 50px;
        border-radius: 10px;
        background: #F59C7C;
        text-align: center;
        line-height: 50px;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
        margin: 20px 0;
        border: none;
    }

    .shop p {
        color: #FFF;
        font-size: 18px;
        font-weight: 700;
    }

    .description {
        width: 90%;
        max-width: 530px;
        padding: 25px;
        box-sizing: border-box;
        margin: 30px auto;
        background: #F9FAF5;
        border-radius: 27px;
    }

    .description .txt p {
        color: #444;
        font-size: 16px;
        font-weight: 350;
        line-height: 25px;
        letter-spacing: 1.6px;
        padding: 10px 0;
    }

    .description .txt span {
        font-weight: 500;
    }

    .description .txt p:nth-child(1) {
        padding-bottom: 20px;
    }

    .description img {
        width: 70%;
        margin: 30px 15% 20px;
    }

    .main-wavy {
        width: 100%;
        vertical-align: top;
    }

    /* ---------- footer ---------- */

    .warp-footer {
        background-color: #F2F2EA;
        margin-top: -1px;
    }

    footer {
        display: flex;
        justify-content: center;
        margin: auto;
        padding: 20px 0;
    }

    footer .logo {
        display: none;
    }

    footer .item {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        max-width: 850px;
    }

    footer .item ul {
        padding: 5px;
    }

    footer .item li {
        color: #444444;
        font-size: 14px;
        padding: 10px 0;
    }

    footer .item .list {
        display: flex;
        justify-content: space-evenly;
        width: 300px;
        margin: auto;
    }

    footer .item a {
        color: #444;
        text-decoration: none;
        transition: .3s;
    }

    footer .item a:hover {
        color: #D28164;
    }

    .company {
        width: 300px;
        margin: auto;
        text-align: center;
    }

    .company li span {
        position: relative;
        bottom: 4px;
    }

    .email {
        margin-top: -5px;
    }

    .focus {
        margin: -5px auto 0;
        width: 200px;
        text-align: center;
    }


    .focus .fa-solid,
    .focus .fa-brands,
    .company .fa-solid {
        color: #444444;
        font-size: 22px;
        padding: 3px 5px 3px 0;
        transition: .3s;
    }

    .fa-blogger-b {
        margin-left: 5px;
    }

    .focus .fa-solid:hover,
    .focus .fa-brands:hover {
        color: #D28164;
    }

    .copyright {
        color: #444444;
        font-size: 13px;
        height: 70px;
        background-color: #CCCCC4;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 8%;
        line-height: 18px;
    }

}

/* ---------- web ---------- */
@media screen and (min-width:1260px) {

    /* ---------- header ---------- */

    .wrap-header {
        background-color: #F2F2EA;
        position: relative;
    }

    header {
        width: 1260px;
        margin: auto;
        display: flex;
        position: relative;
    }

    header .logo {
        width: 160px;
        padding: 20px 70px;
    }

    header .logo img {
        width: 100%;
    }

    #sidebar,
    header .sidebar-tag,
    .function>input {
        display: none;
    }

    nav {
        width: 660px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav a {
        color: #444;
        font-size: 16px;
        text-decoration: none;
        width: 125px;
        box-sizing: border-box;
        text-align: center;
        transition: .3s;
    }

    nav a:hover {
        color: #D28164;
    }

    .function {
        height: 140px;
        display: flex;
        align-items: center;
        position: absolute;
        right: 90px;
    }

    .function label i {
        color: #444;
        font-size: 23px;
        padding: 0 15px;
        transition: .3s;
    }

    .function label i:hover {
        color: #D28164;
    }

    .glass {
        width: 230px;
        display: flex;
        position: absolute;
        z-index: 1;
        right: 0;
        top: 120px;
        translate: -2000px 0%;
        opacity: 0;
        transition: translate 1.5s .3s cubic-bezier(.6, 0, 1, -0.6), opacity .6s .3s;
    }

    #glass:checked~.glass {
        translate: 0px 0%;
        opacity: .95;
        transition: translate 1.2s cubic-bezier(0, 1.8, 0, 1), opacity 1.5s .5s;
    }

    .glass form {
        width: 100%;
    }

    .glass form input {
        font-family: Gen Jyuu Gothic;
        width: 100%;
        height: 40px;
        border-radius: 50px;
        border: none;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
        font-size: 14px;
        box-sizing: border-box;
        outline: none;
        padding: 0 25px;
    }

    .glass button {
        border: 0;
        background-color: transparent;
        position: absolute;
        top: 9px;
        right: 15px;
    }

    .glass button i {
        color: #444;
        font-size: 19px;
        transition: .3s;
    }

    .glass button:hover i {
        color: #D28164;
    }

    .shopping {
        display: none;
    }

    .header-wavy {
        width: 100%;
        height: 116px;
        margin-top: -60px;
        vertical-align: top;
    }

    /* ---------- main ---------- */

    .wrap-main {
        background-color: #EFEDE1;
    }

    .main {
        width: 1260px;
        margin: auto;
        position: relative;
    }

    .subnav {
        padding: 30px 100px 50px;
    }

    .subnav a {
        color: #444;
        font-size: 14px;
        letter-spacing: 0.5px;
        text-decoration: none;
    }

    .subnav p {
        display: inline-block;
        color: #444;
        font-size: 14px;
        letter-spacing: 0.5px;
    }

    .subnav a:nth-child(1):after,
    .subnav a:nth-child(2):after {
        content: "　/　";
    }

    .main-pattern img:nth-child(1) {
        position: absolute;
        width: 55px;
        top: 80px;
        right: 460px;
    }

    .main-pattern img:nth-child(2) {
        position: absolute;
        top: 165px;
        right: 155px;
    }

    .main-pattern img:nth-child(3) {
        position: absolute;
        top: -30px;
        right: 40px;
    }

    .information {
        display: flex;
        justify-content: center;

    }

    .sub-pic {
        display: flex;
        justify-content: space-around;
        margin: 10px 0;
    }

    .small {
        width: 118px;
        height: 80px;
    }


    .information .txt {
        margin-left: 120px;
        margin-right: 40px;
    }

    h1 {
        color: #444;
        font-size: 32px;
        letter-spacing: 0.32px;
        padding: 25px 0;
    }

    h1 span {
        -webkit-text-stroke: .4px #444;
    }

    .desc {
        color: #444;
        font-size: 16px;
        font-weight: 350;
        letter-spacing: 1.6px;
        padding: 10px 0;
        position: relative;
        z-index: 1;
    }

    .spec {
        color: #D28164;
        font-size: 14px;
        letter-spacing: .4px;
        padding: 10px 0;
    }

    .price {
        color: #444;
        font-size: 24px;
        padding: 25px 0;
    }

    .taste,
    .count {
        width: 235px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        background-color: #F9FAF5;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
        margin: 20px 0;
    }

    .count input {
        border: none;
        background-color: transparent;
        width: 30%;
        text-align: center;
    }

    #consult {
        font-family: GenJyuuGothic;
        color: #444;
        font-size: 16px;
        border: none;
        text-align: center;
    }

    .shop {
        width: 235px;
        height: 50px;
        border-radius: 10px;
        background: #F59C7C;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
        margin: 50px 0;
        border: none;
    }

    .shop p {
        color: #FFF;
        font-size: 20px;
        font-weight: 700;
    }

    .description {
        width: 1110px;
        height: 560px;
        margin: 30px auto;
        background: #F9FAF5;
        border-radius: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .description .txt {
        margin-right: 50px;
    }

    .description .txt p {
        color: #444;
        font-size: 16px;
        font-weight: 350;
        line-height: 25px;
        letter-spacing: 1.6px;
        padding: 15px 0;
    }

    .description .txt span {
        font-weight: 500;
    }

    .description .txt p:nth-child(1) {
        padding-bottom: 30px;
    }

    .description img {
        width: 340px;
    }

    .main-wavy {
        width: 100%;
        height: 130px;
        vertical-align: top;
    }

    /* ---------- footer ---------- */

    .warp-footer {
        background-color: #F2F2EA;
        margin-top: -1px;
    }

    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .logo {
        width: 145px;
        padding: 25px 60px;
    }

    footer .logo img {
        width: 100%;
    }

    .item {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
    }

    .item li {
        color: #444444;
        font-size: 14px;
        padding: 10px 0;
    }

    .list {
        display: flex;
        padding: 0 60px;
    }

    .list-product {
        padding-right: 80px;
    }

    footer .item a {
        color: #444;
        text-decoration: none;
        transition: .3s;
    }

    footer .item a:hover {
        color: #D28164;
    }

    .company {
        padding: 0 60px;
    }

    .company li span {
        position: relative;
        bottom: 4px;
    }

    .focus {
        padding: 0 60px;
    }


    .focus .fa-solid,
    .focus .fa-brands,
    .company .fa-solid {
        color: #444444;
        font-size: 22px;
        padding-right: 10px;
        transition: .3s;
    }

    .focus .fa-solid:hover,
    .focus .fa-brands:hover {
        color: #D28164;
    }

    .copyright {
        color: #444444;
        font-size: 13px;
        height: 60px;
        background-color: #CCCCC4;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}